@charset "utf-8";

.Header {
    width: 100%;
}
@media screen and (max-width: 1080px) {
.Header--common {
    position: fixed; }
}
.Header--common {
    box-shadow: 0px 15px 20px 0px rgba(0,0,0,.05);
}
.Header {
    background-color: #fff;
    display: grid;
    height: 70px;
}
@media screen and (max-width: 414px) {
.Header {
    height: 48px;
    padding: 0; }
}
@media screen and (max-width: 767px) {
.Header {
    padding-top: 15px;
    padding-bottom: 15px; }
}
@media screen and (max-width: 1080px) {
.Header {
    background-color: #fff;
    z-index: 10; }
}
.HeaderContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 36px;
    max-width: 100%;
    position: relative;
}
@media screen and (max-width: 767px) {
.HeaderContainer {
    max-width: 100%;
    margin: 0 16px; }
}
.HeaderLogo {
    align-self: center;
}
@media screen and (min-width: 768px) {
.HeaderLogo {
    transition: opacity .2s; }
}
.HeaderLogo__image--pc {
    display: block;
    height: 20px;
    width: auto;
}
.HeaderLogo__image--pc:hover {
    opacity: 0.75;
}
@media screen and (max-width: 767px) {
.HeaderLogo__image--pc {
    display: none; }
}
.HeaderLogo__image--sp {
    display: none;
    height: 16px;
    width: auto;
}
.HeaderLogo__image--sp:hover {
    opacity: 0.75;
}
@media screen and (max-width: 767px) {
.HeaderLogo__image--sp {
    display: block; }
}
/*ロゴが２重に表示→ 解消済*/

.HeaderContainer>*:last-child {
    display: inline-flex;
}
.HeaderNavHamburger {
    display: none;
}
@media screen and (max-width: 1080px) {
.HeaderNavHamburger {
    cursor: pointer;
    display: block;
    position: relative;
    width: 24px;
    height: 17px;
    margin: auto;
    z-index: 100; }
}
@media screen and (max-width: 1080px) {
.HeaderNavHamburger__line:first-child {
    top: 0; }
}
@media screen and (max-width: 1080px) {
.HeaderNavHamburger__line {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #a2a2a4;
    transform: translate(0, -50%);
    border-radius: 10px;
    transition: top .2s, transform .2s, opacity .3s; }
}
@media screen and (max-width: 1080px) {
.HeaderNavHamburger__line:last-child {
    top: 100%; }
}
.HeaderNavList {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1080px) {
.HeaderNavList {
    overflow-y: scroll;
    position: fixed;
    top: 60px;
    left: 100%;
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 75px;
    transition: transform .5s;
    z-index: 99;
    background-color: rgba(0, 0, 0, .8);
    -webkit-overflow-scrolling: touch;
    height: 100%; }
}
@media screen and (max-width: 767px) {
.HeaderNavList {
    top: 70px; }
}
ul {
     list-style: none;
}
.HeaderNavListItem {
    margin-right: 45px;
}
@media screen and (min-width: 768px) {
.HeaderNavListItem {
    transition: opacity .2s; }
}
@media screen and (max-width: 1080px) {
.HeaderNavListItem {
    margin-right: 0; }
}
.HeaderNavListItem__link {
    display: block;
}
a {
    color: #333;
    text-decoration: none;
}
a:hover {
    opacity: 0.75;
}
@media screen and (max-width: 1080px) {
.HeaderNavListItem__link {
    padding: 20px 0; }
}
.HeaderNavListItem__link>span:first-child {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    line-height: 14.4px;
}
.HeaderNavListItem__link>span {
    display: block;
    font-weight: 700;
    text-align: center;
}
@media screen and (max-width: 1080px) {
.HeaderNavListItem__link>span:first-child {
    font-size: 16px;
    letter-spacing: 5px;
    color: #fff; }
}
.HeaderNavListItem__link>span:last-child {
    font-size: 10px;
}
@media screen and (max-width: 1080px) {
.HeaderNavListItem__link>span:last-child {
    font-size: 12px;
    margin-top: 10px;
    color: #f79214;
    letter-spacing: 2px; }
}
.HeaderNavListItem:last-of-type {
    margin-right: 0;
}
@media screen and (min-width: 768px) {
.HeaderNavListItem {
    transition: opacity .2s; }
}
@media screen and (max-width: 1080px) {
.HeaderNavListItem:last-of-type {
    margin-top: 20px; }
}
.HeaderNavListItem__button:visited {
    color: #fff;
}
@media screen and (max-width: 1080px) {
.HeaderNavListItem__button {
    font-size: 16px;
    margin: 0 auto;
    height: 60px;
    width: 250px; }
}
@media screen and (min-width: 768px) {
.HeaderNavListItem__button {
    transition: opacity .2s; }
}
.HeaderNavListItem__button {
    align-items: center;
    background-color: #f79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 12px;
    height: 40px;
    padding: 0 20px;
}
.FirstView {
    position: relative;
    height: 739px;
}
@media screen and (max-width: 767px) {
.FirstView {
    height: fit-content; }
}
.FirstView__bg-image--left-rectangle {
    top: -70px;
    left: 0;
}
@media screen and (max-width: 767px) {
.FirstView__bg-image {
    display: none; }
}
.FirstView__bg-image--right-rectangle {
    right: 0;
    bottom: 70px;
}
.FirstView__bg-image {
    position: absolute;
    z-index: -1;
}
.FirstView__bg-image--fill-rectangle {
    top: 84px;
    left: -70px;
}
.FirstView__bg-image--main-visual {
    top: -70px;
    right: 0;
    width: 775px;
}
.FirstView__whole-image {
    display: none;
}
@media screen and (max-width: 767px) {
.FirstView__whole-image {
    display: block;
    margin-bottom: 7px;
    width: 100%; }
}
.FirstView__container {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 219px;
}
@media screen and (max-width: 1080px) {
.FirstView__container {
    max-width: none;
    padding-left: 36px;
    padding-right: 36px; }
}
@media screen and (max-width: 767px) {
.FirstView__container {
    padding-top: 0;
    padding-bottom: 20px; }
}
@media screen and (max-width: 767px) {
.FirstView__container {
    max-width: none;
    padding-left: 16px;
    padding-right: 16px; }
}
.FirstViewContent {
    position: relative;
    width: fit-content;
}
.FirstViewContent__title {
    color: #333;
    font-family: "Lato", sans-serif;
    font-size: 42px;
    font-weight: 800;
    line-height: 63px;
    margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
.FirstViewContent__title {
    font-size: 22px;
    line-height: 36px;
    position: relative;
    width: fit-content; }
}
.FirstViewContent__badge-image {
    position: absolute;
    top: -105px;
    right: -150px;
}
@media screen and (max-width: 767px) {
.FirstViewContent__badge-image {
    height: 102px;
    width: 102px;
    top: -20px;
    right: -85px; }
}
.FirstViewContent__button:visited {
    color: #fff;
}
@media screen and (min-width: 768px) {
.FirstViewContent__button {
    transition: opacity .2s; }
}
@media screen and (max-width: 767px) {
.FirstViewContent__button {
    width: 100% !important; }
}
.FirstViewContent__button {
    align-items: center;
    background-color: #f79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    margin-bottom: 16px;
}
.FirstViewContent__caption {
    font-size: 12px;
    line-height: 16px;
}











